/* stylelint-disable selector-class-pattern */

.app-pages {
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  padding: 1rem;
  width: 50%;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-links {
  font-size: 18px;
}
